In [1]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import os

In [2]:
load_dotenv()

DB_PASS = os.getenv("DB_PASS")
DB_USER = os.getenv("DB_USER")
DB_HOST = os.getenv("DB_HOST")

engine = create_engine(f"mysql://{DB_USER}:{DB_PASS}@{DB_HOST}/options")
conn = engine.connect()

In [3]:
import pandas as pd

In [4]:
df = pd.read_sql_table('ingester_test', con=conn)

In [5]:
df

,contract_name,last_trade_date,strike,last_price,bid,ask,change,pct_change,volume,open_interest,implied_volatility,pull_timestamp,contract,expiry,days_to_expiry,close_on_pull,ticka
0,PENN201009C00030000,2020-10-06 09:41:00,30.0,40.15,36.40,38.85,5.35,0.1537,4,0,5.5352,2020-10-06 16:35:35,C,2020-10-09,2,67.94,PENN
1,PENN201009C00035000,2020-09-01 10:00:00,35.0,21.95,38.65,39.00,0.00,0.0000,1,0,8.8301,2020-10-06 16:35:35,C,2020-10-09,2,67.94,PENN
2,PENN201009C00040000,2020-10-05 10:39:00,40.0,30.30,27.60,28.30,0.00,0.0000,1,2,1.8750,2020-10-06 16:35:35,C,2020-10-09,2,67.94,PENN
3,PENN201009C00045000,2020-10-01 13:54:00,45.0,29.15,22.60,23.35,0.00,0.0000,2,2,1.7031,2020-10-06 16:35:35,C,2020-10-09,2,67.94,PENN
4,PENN201009C00050000,2020-09-29 09:30:00,50.0,23.18,17.60,18.30,0.00,0.0000,1,4,1.1250,2020-10-06 16:35:35,C,2020-10-09,2,67.94,PENN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641212,FIT201023P00006000,2020-09-29 10:28:00,6.0,0.21,0.00,0.00,0.00,0.0000,1,2,0.7500,2020-10-20 16:40:22,P,2020-10-23,2,6.98,FIT
641213,FIT201023P00006500,2020-10-20 11:12:00,6.5,0.01,0.00,0.00,0.00,0.0000,1,175,0.4688,2020-10-20 16:40:22,P,2020-10-23,2,6.98,FIT
641214,FIT201023P00007000,2020-10-20 15:47:00,7.0,0.04,0.03,0.00,0.01,0.3333,204,707,0.1016,2020-10-20 16:40:22,P,2020-10-23,2,6.98,FIT
641215,FIT201023P00007500,2020-10-19 09:57:00,7.5,0.60,0.01,0.00,-0.68,-0.5312,1,7,1.1563,2020-10-20 16:40:22,P,2020-10-23,2,6.98,FIT
641216,FIT201023P00009000,2020-10-19 09:52:00,9.0,2.03,0.01,0.00,0.00,0.0000,0,0,0.0000,2020-10-20 16:40:22,P,2020-10-23,2,6.98,FIT

In [6]:
df['bid'][0]

36.4

In [10]:
df[df['volume'] == '-']

Empty DataFrame
Columns: [contract_name, last_trade_date, strike, last_price, bid, ask, change, pct_change, volume, open_interest, implied_volatility, pull_timestamp, contract, expiry, days_to_expiry, close_on_pull, ticka]
Index: []

In [13]:
df['bid'][0]

0.0

In [15]:
df[df['close_on_pull'] == -1]

Empty DataFrame
Columns: [contract_name, last_trade_date, strike, last_price, bid, ask, change, pct_change, volume, open_interest, implied_volatility, contract, pull_timestamp, expiry, days_to_expiry, close_on_pull, ticka]
Index: []

In [7]:
df['volume'][0]

4