In [1]:
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Text, String, DateTime, Float
import os

In [2]:
load_dotenv()

DB_PASS = os.getenv("DB_PASS")
DB_USER = os.getenv("DB_USER")
DB_HOST = os.getenv("DB_HOST")

engine = create_engine(f"mysql://{DB_USER}:{DB_PASS}@{DB_HOST}/options")
conn = engine.connect()

In [3]:
import pandas as pd

In [4]:
#df = pd.read_sql_table('ingester_test', con=conn)
df = pd.read_sql_table('options_data', con=conn)

In [5]:
df

,contract_name,last_trade_date,strike,last_price,bid,ask,change,pct_change,volume,open_interest,implied_volatility,contract,pull_timestamp,expiry,days_to_expiry,close_on_pull,ticka
0,SHOP201218P00860000,2020-12-18 10:04:00,860.0,0.03,0.0,0.05,-0.16,-0.8421,1,88,1.8906,P,2020-12-18 16:15:25,2020-12-18,0,1170.96,SHOP
1,SHOP201218P00865000,2020-12-18 12:32:00,865.0,0.02,0.0,0.05,-0.03,-0.6000,1,107,1.8594,P,2020-12-18 16:15:25,2020-12-18,0,1170.96,SHOP
2,SHOP201218P00875000,2020-12-18 15:37:00,875.0,0.01,0.0,0.05,-0.06,-0.8571,20,79,1.7969,P,2020-12-18 16:15:25,2020-12-18,0,1170.96,SHOP
3,SHOP201218P00880000,2020-12-17 12:03:00,880.0,0.26,0.0,0.05,0.22,5.5000,4,115,1.7656,P,2020-12-18 16:15:25,2020-12-18,0,1170.96,SHOP
4,SHOP201218P00890000,2020-12-18 11:20:00,890.0,0.01,0.5,0.05,-0.04,-0.8000,1,105,2.1465,P,2020-12-18 16:15:25,2020-12-18,0,1170.96,SHOP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30196,ADBE201231C00590000,2020-12-18 10:26:00,590.0,0.07,0.0,0.25,0.00,0.0000,19,36,0.5117,C,2020-12-25 16:17:18,2020-12-31,6,499.86,ADBE
30197,ADBE201231C00600000,2020-12-24 10:12:00,600.0,0.01,0.0,0.09,-0.03,-0.7500,2,25,0.5352,C,2020-12-25 16:17:18,2020-12-31,6,499.86,ADBE
30198,ADBE201231C00610000,2020-12-24 11:09:00,610.0,0.01,0.0,0.09,-0.34,-0.9714,1,12,0.5352,C,2020-12-25 16:17:18,2020-12-31,6,499.86,ADBE
30199,ADBE201231C00620000,2020-12-09 15:40:00,620.0,0.21,0.0,0.01,0.00,0.0000,4,85,0.5000,C,2020-12-25 16:17:18,2020-12-31,6,499.86,ADBE
30200,ADBE201231C00630000,2020-12-24 10:42:00,630.0,0.01,0.0,0.11,-0.03,-0.7500,1,5,0.6231,C,2020-12-25 16:17:18,2020-12-31,6,499.86,ADBE

In [6]:
df['bid'][0]

0.0

In [8]:
df[df['close_on_pull'] == -1]

Empty DataFrame
Columns: [contract_name, last_trade_date, strike, last_price, bid, ask, change, pct_change, volume, open_interest, implied_volatility, contract, pull_timestamp, expiry, days_to_expiry, close_on_pull, ticka]
Index: []

In [13]:
df['bid'][0]

0.0

In [15]:
df[df['close_on_pull'] == -1]

Empty DataFrame
Columns: [contract_name, last_trade_date, strike, last_price, bid, ask, change, pct_change, volume, open_interest, implied_volatility, contract, pull_timestamp, expiry, days_to_expiry, close_on_pull, ticka]
Index: []

In [7]:
df['volume'][0]

4